section.features-section.no-padding
	.wrapper
		.features-container
			.row.container-fluid.container-fluid.container-fluid
				.col-xs-6.col-sm-6.col-md-6.col-lg-3.features-item.ripple-animation
					.feature-wrapper
						.feature-image
							img(src="images/feature-pic04.jpg", alt="")
						.feature-title.font-2
							h3.upper-case.bold.font-9 Здоровое сердце
						.feature-text.font-2
							p За счет быстрого снижения веса снижается количество радикальных жиров и "плохого жира" который вызывает проблемы с сердечно сосудистой системой
				.col-xs-6.col-sm-6.col-md-6.col-lg-3.features-item.ripple-animation
					.feature-wrapper.font-2
						.feature-image
							img(src="images/feature-pic02.jpg", alt="")
						.feature-title
							h3.upper-case.bold.font-9 Очищение желудка
						.feature-text
							p  Ваш желудок - устал! ему необходима передишка, которую вы ему дать не можете. Наше средство снижает апетит и содержит клетчатку, очищая желудок

				.col-xs-6.col-sm-6.col-md-6.col-lg-3.features-item.ripple-animation
					.feature-wrapper.font-2
						.feature-image
							img(src="images/feature-pic03.jpg", alt="")
						.feature-title
							h3.upper-case.bold.font-9 Гладкая Кожа
						.feature-text
							p  "Мы снаружи есть то что мы изнутри." За счет оздоровления организма и обогащения его полезными минералами вы забудете о проблемной коже.

				.col-xs-6.col-sm-6.col-md-6.col-lg-3.features-item.ripple-animation
					.feature-wrapper.font-2
						.feature-image
							img(src="images/feature-pic04.jpg", alt="")
						.feature-title
							h3.upper-case.bold.font-9 Красота
						.feature-text
							p  Каждый человек одарен ровно на столько , сколько готов показать! Ваша природная красота скрыта за слоем жира. Красивый пресс, скулы, попа, все это сокрыто от других. 
				
