section.feedback
	.inner-section
		.wrapper
			.section-title.text-center.font-2.upper-case
				h1 Отзывы
			.slider-wrapper
				.feedback-slider
					.feedback-slide
						.slide-text.font-2
							p  "Health is a state of complete physical, mental and social well-being, and not merely the absence of disease or infirmity."
						.slide-user
							.user-image
								.user-inner-image
									img(src="https://fedspendingtransparency.github.io/assets/img/user_personas/repurposer_mug.jpg", alt="")
							.user-meta
								.user-inner-meta
									span.user-name.upper-case.font-2.bold Богдан Пилипчук
									span.user-city.font-2 Киев, Украина
					.feedback-slide
						.slide-text.font-2
							p  "Health is a state of complete physical, mental and social well-being, and not merely the absence of disease or infirmity."
						.slide-user
							.user-image
								.user-inner-image
									img(src="https://fedspendingtransparency.github.io/assets/img/user_personas/repurposer_mug.jpg", alt="")
							.user-meta
								.user-inner-meta
									span.user-name.upper-case.font-2.bold Богдан Пилипчук
									span.user-city.font-2 Киев, Украина
					.feedback-slide
						.slide-text.font-2
							p  "Health is a state of complete physical, mental and social well-being, and not merely the absence of disease or infirmity."
						.slide-user
							.user-image
								.user-inner-image
									img(src="https://fedspendingtransparency.github.io/assets/img/user_personas/repurposer_mug.jpg", alt="")
							.user-meta
								.user-inner-meta
									span.user-name.upper-case.font-2.bold Богдан Пилипчук
									span.user-city.font-2 Киев, Украина
									

				.feedback-bullets


