section.feed.no-padding
	.upper-section
		.wrapper
			.feed-intro.text-center.font-1
				span.feedback-media-icon.text-center
					i.fab.fa-instagram.color-1
				h1 INSTAGRAM FEED
				p.color-1 Мы заботимся о вашем внешнем виде и весе каждый день. Здоровье и красота, вот что мы предлагаем.

	.lower-section
		.row.container-fluid.container-fluid.container-fluid.no-padding
			.col-xs-6.col-sm-6.col-md-6.col-lg-3.no-padding
				.feedback-item
					.feedback-image
						img(src="images/feed-pic03.jpg", alt="")
						.feedback-overlay
							.feedback-overlay-inner
								.feedback-content
									.wrapper
										.feedback-title
											h2 Заголовок
										.feedback-tags
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
			.col-xs-6.col-sm-6.col-md-6.col-lg-3.no-padding
				.feedback-item
					.feedback-image
						img(src="images/feed-pic02.jpg", alt="")
						.feedback-overlay
							.feedback-overlay-inner
								.feedback-content
									.wrapper
										.feedback-title
											h2 Заголовок
										.feedback-tags
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
			.col-xs-6.col-sm-6.col-md-6.col-lg-3.no-padding
				.feedback-item
					.feedback-image
						img(src="images/feed-pic03.jpg", alt="")
						.feedback-overlay
							.feedback-overlay-inner
								.feedback-content
									.wrapper
										.feedback-title
											h2 Заголовок
										.feedback-tags
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
			.col-xs-6.col-sm-6.col-md-6.col-lg-3.no-padding
				.feedback-item
					.feedback-image
						img(src="images/feed-pic02.jpg", alt="")
						.feedback-overlay
							.feedback-overlay-inner
								.feedback-content
									.wrapper
										.feedback-title
											h2 Заголовок
										.feedback-tags
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag
											a(href="#") Tag

		