section.hero-slider.full-height.no-padding
	#fit-slider-images
	.inner-section
		.wrapper
			.fit-slider-wrapper
				.fit-slider
					.fit-slide
						.image
							img(src="images/slider-pic01.jpg", alt="")
						.content
							h1.font-2 Создай свое <span class = "font-1">Идеальное</span> тело
							button.button кнопка
					.fit-slide
						.image
							img(src="images/slider-pic02.jpeg", alt="")
						.content
							h1 Создай свое <span class = "font-1">Идеальное</span> тело
							button.button кнопка
					.fit-slide
						.image
							img(src="images/slider-pic01.jpeg", alt="")
						.content
							h1 Текст
							button.button кнопка
					ul.fit-slider-bullets
						li.bullet
							span.number 01
						li.bullet
							span.number 01
						li.bullet
							span.number 01
