section.fit-slider.full-height
	.slider-container
		.slides-container#slides-container
			//- .slide-item
			//- 	.slide-content
			//- 		.wrapper
			//- 			.row
			//- 				.col-md-6
			//- 					.slide-title
			//- 						h1  Lorem ipsum dolor sit amet.
			//- 					.slide-text
			//- 						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti quas sapiente!
			//- 					button.btn Заказать Сейчас
			//- 					button.btn Узнать Больше



	
	
