section.how-it-works.no-padding
	.row.container-fluid.container-fluid
		.col-md-6.image-bg
		.col-md-6
			.how-it-works-content-container
				.how-it-works-content
					.wrapper
						.how-it-works-text
							h1 Здоровое сердце
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptates aliquid nihil, recusandae expedita aperiam dolore rerum id esse sapiente quidem animi, cupiditate veritatis at nemo dignissimos alias itaque culpa.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptates aliquid nihil, recusandae expedita aperiam dolore rerum id esse sapiente quidem animi, cupiditate veritatis at nemo dignissi
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptates aliquid nihil, recusandae expedita aperiam dolore rerum id esse sapiente quidem animi, cupiditate veritatis at nemo digniss							
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptates aliquid nihil, recusandae expedita aperiam dolore rerum id esse sapiente quidem animi, cupiditate veritatis at nemo dignissi
							span
							.how-it-works-marks
								.row.container-fluid.container-fluid
									.col-md-4
										img(src="https://www.exeterguild.org/asset/Organisation/6734/MEDSOC.jpg?thumbnail_width=920&thumbnail_height=300&resize_type=ResizeFitAll", alt="")
									.col-md-4
										img(src="http://ncmedsoc.org/wp-content/uploads/2013/06/ncms_foundation_logo1.jpg", alt="")
									.col-md-4
										img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2e-OyOx8z-WCKHpGGBU5aIbAWND7K71arKGZDpdTFmeYFL_ga", alt="")


				
