section.portfolio
  .inner-section
    .wrapper
      .section-title.text-center
        h1 Посмотрите наши роботы
        h3 100% настоящие отзывы
      .portfolio-slider-wrapper
        .portfolio-slider
          .portfolio-slide
            img(src="http://via.placeholder.com/550x350" , alt="hello")
            img(src="http://via.placeholder.com/550x350" , alt="hello")
      .section-title.text-center
        h3 Посмотрите наши роботы
        h4 100% настоящие отзывы
