section.pricing.parralax
	.inner-section
		.wrapper
			.row.container-fluid.container-fluid
				.col-xs-12.col-sm-12.col-md-4.col-lg-4
					.pricing-item.text-center
						.pricing-image
							img(src="images/pricing-pic01.jpg", alt="")
						.pricing-wrap.text-left
							.pricing-name.text-center
								h2.bold Базовый
							.pricing-price.text-center
								span 2850
							

								
										
