section.product-features
	.product-features-inner
		.wrapper
			.row.container-fluid.container-fluid
				.col-xs-12.col-sm-6.col-md-6.col-xl-3
					.product-feature-container
						.product-feature
							.product-feature-image
								img(src="images/icons/icon01.png", alt="")
							.product-feature-title
								h3.font-2.upper-case lorem ipsum
				.col-xs-12.col-sm-6.col-md-6.col-xl-3
					.product-feature-container
						.product-feature
							.product-feature-image
								img(src="images/icons/icon01.png", alt="")
							.product-feature-title
								h3.font-2.upper-case lorem ipsum
				.col-xs-12.col-sm-6.col-md-6.col-xl-3
					.product-feature-container
						.product-feature
							.product-feature-image
								img(src="images/icons/icon01.png", alt="")
							.product-feature-title
								h3.font-2.upper-case lorem ipsum
				.col-xs-12.col-sm-6.col-md-6.col-xl-3
					.product-feature-container
						.product-feature
							.product-feature-image
								img(src="images/icons/icon01.png", alt="")
							.product-feature-title
								h3.font-2.upper-case lorem ipsum
				.col-xs-12.col-sm-6.col-md-6.col-xl-3
					.product-feature-container
						.product-feature
							.product-feature-image
								img(src="images/icons/icon01.png", alt="")
							.product-feature-title
								h3.font-2.upper-case lorem ipsum
				.col-xs-12.col-sm-6.col-md-6.col-xl-3
					.product-feature-container
						.product-feature
							.product-feature-image
								img(src="images/icons/icon01.png", alt="")
							.product-feature-title
								h3.font-2.upper-case lorem ipsum
				.col-xs-12.col-sm-6.col-md-6.col-xl-3
					.product-feature-container
						.product-feature
							.product-feature-image
								img(src="images/icons/icon01.png", alt="")
							.product-feature-title
								h3.font-2.upper-case lorem ipsum
				.col-xs-12.col-sm-6.col-md-6.col-xl-3
					.product-feature-container
						.product-feature
							.product-feature-image
								img(src="images/icons/icon01.png", alt="")
							.product-feature-title
								h3.font-2.upper-case lorem ipsum
				
					
