header {
  width: 100%;
  height: auto; }
  header .lower-section {
    min-height: 1px;
    width: 100%;
    padding: 20px 0px; }
    header .lower-section ul {
      margin: 0px; }
      header .lower-section ul li {
        list-style-type: none;
        display: inline-block;
        padding: 0px 22px; }
        header .lower-section ul li a {
          color: inherit;
          padding: 12px 8px; }
          header .lower-section ul li a:hover {
            text-decoration: none;
            border-bottom: 1px solid pink; }
        header .lower-section ul li a.current {
          border-bottom: 1px solid pink; }
        header .lower-section ul li a.order {
          color: blue; }
