.pricing {
  background-image: url("https://images.unsplash.com/photo-1434682881908-b43d0467b798?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c0f0cd91532284db50c1009ae3d10cf&auto=format&fit=crop&w=1353&q=80");
  background-repeat: no-repeat;
  background-size: cover; }
