<!DOCTYPE html>
html(lang="russian")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Open+Sans|Roboto|Roboto+Condensed|Roboto+Mono")
		link(rel="stylesheet", href="source/css/libs/normalize.css")
		link(rel="stylesheet", href="source/fonts/font-awesome/on-server/css/fontawesome-all.min.css")
		link(rel="stylesheet", href="source/css/libs/bootstrap-reboot.css")
		link(rel="stylesheet", href="source/css/libs/animate.css")
		link(rel="stylesheet", href="source/css/libs/bootstrap-grid.min.css")
		link(rel="stylesheet", href="source/css/libs/twentytwenty.css")
		link(rel="stylesheet", href="source/css/libs/slick.css")
		link(rel="stylesheet", href="source/css/libs/ripple.css")
		link(rel="stylesheet", href="source/css/main.css")
		title Название
	body
	
		//---------- PRELOADER -----------//
		include source/pug/layout/preloader.pug
		//---------- Header layout -----------//
		//include source/pug/layout/header.pug
		//- include source/pug/layout/header_2.pug 
		include source/pug/layout/header-3.pug

		//---------- Slider Layout -----------//
		include source/pug/layout/fit-slider.pug

		//- //---------- Features-Section  -----------//
		include source/pug/layout/features-section.pug

		//- //---------- How it works section -----------//
		include source/pug/layout/how-it-works.pug

		//- //---------- Feed Section Layout -----------//
		include source/pug/layout/feed.pug

		//- //---------- Product - Features -----------//
		include source/pug/layout/product-features.pug

		//- //---------- Features-Section layout layout -----------//
		include source/pug/layout/portfolio.pug

		//- //---------- Features-Section layout layout -----------//
		include source/pug/layout/feedback.pug

		//- //---------- Pricing Section -----------//

		
		include source/pug/layout/contact-form.pug
		//- //---------- Features-Section layout layout -----------//


		//- //---------- Footer layout -----------//
		include source/pug/layout/footer.pug
		//include source/pug/layout/generic.pug

	
	script(type="text/javascript" , src = "source/js/libs/jquery-3.2.1.min.js")
	//script(type="text/javascript" , src = "source/js/libs/...")
	script(type="text/javascript" , src = "source/js/libs/ripple.js") //combine later
	script(type="text/javascript" , src = "source/js/libs/jquery.event.move.js")
	script(type="text/javascript" , src = "source/js/libs/jquery.twentytwenty.js")
	script(type="text/javascript" , src = "source/js/libs/slick.js")
	script(type="text/javascript" , src = "source/js/main.js")
