.hero-slider{
	display: table;
	height: 100%;
	width: 100%;

	.inner-section{
		display: table-cell;
		vertical-align: middle;
	}
	.hero-slider{
	width: 100%;
	height: 100%;
	}

	#fit-slider-images{
		height: 100%;
		width: 100%;


		.fit-slider-image{
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			opacity: 0;
			//dispaly: none;
			z-index: -10;
			transition: all 0.5s;

		}
		.fit-slider-image.current{
			opacity: 1;
			transition: all 0.4s;
		}
	}

	.fit-slider-wrapper{
		.fit-slider{
			position: relative;
			.fit-slide{
				display: none;
				position: absolute;
				.image{
					display: none !important;
				}
				.content{
					h1{
						font-size: 3em;
					}
					button.button{
						background-color: _palette(color3);
						border: none;
						color: _palette(white);
						padding: 10px 20px;
						text-transform: uppercase;
						&:hover{
							background-color: _palette(color4);
						}

					}
					width: 100%;
				}
				display: none;
			}
			.fit-slide.current{
				display: block;
			}
		}
		.fit-slider-bullets{
			display: none;
			position: absolute;
			right: 0px;
			top: 50%;

			li{
					list-style-type: none;
					width: 11px;
					height: 11px;
					margin: 10px 0px;
					@include border-radius(10px);
					background-color: #fff;
					&:hover{
						span{
							display: block;
						}
					}
					span{
						padding: 5px;
						background-color: #fff;
						@include border-radius(20px);
						display: none;
					}
			}
		}
	}

}
