
<section class="features-section">
  <div class="wrapper">
    <div class="white-wrap">
      <div class="row">
        <div class="col-md-3">
          <div class="features-description">
            <div class="feature-image"></div>
            <div class="feature-text">
              <h1>Сердце</h1>
              <p>Теряя ненужные килограммы, вы снижаете и улучшаете сердечно сосудистую систему</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="features-description">
            <div class="feature-image"></div>
            <div class="feature-text"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="features-description">
            <div class="feature-image"></div>
            <div class="feature-text"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="features-description">
            <div class="feature-image"></div>
            <div class="feature-text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>