
<section class="feed">
  <div class="upper-section">
    <div class="wrapper"><span class="feedback-media-icon"><i class="fab fa-instagram"></i></span></div>
  </div>
  <div class="lower-section">
    <div class="row no-padding">
      <div class="col-md-3">
        <div class="feedback-item">
          <div class="feedback-image">
            <div class="feedback-overlay">
              <div class="feedback-title"></div>
              <div class="feedback-text"></div>
              <div class="feedback-tag"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>