
<section class="fit-slider-container">
  <div class="fit-slider full-height">
    <div class="slides-container">
      <div class="slide-item">
        <div class="slide-image"><img src="images/pic01.jpg" alt=""/></div>
        <div class="slide-text"></div>
      </div>
      <div class="slide-item">
        <div class="slide-image"><img src="images/pic02.jpg" alt=""/></div>
        <div class="slide-text"></div>
      </div>
      <div class="slide-item">
        <div class="slide-image"><img src="images/pic03.jpg" alt=""/></div>
        <div class="slide-text"></div>
      </div>
    </div>
    <div class="bullets-container"></div>
  </div>
</section>