
<header>
  <div class="upper-section">
    <div class="wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="site-meta text-left"><span><i class="fas fa-map"></i> адресс  | контакты</span></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="site-logo text-center">
              <h1>SiteLogo</h1>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="site-meta text-right"><span><a href="#">Войти</a></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-section">
    <div class="wrapper">
      <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <nav class="main-nav">
            <ul class="text-center">
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
              <li><a class="order" href="#">Заказать</a></li>
              <li class="Search"><i class="fas fa-search"></i></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>